<div class="bg-dark text-white py-5">
    <h1 class="text-center font-italic">Primera Practica de Angular hecha a los Coñazos</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive = "active">
          <a class="nav-link text-white" [routerLink] = "['/']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link text-white" [routerLink] = "['/horario']">Horario</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
            <a class="nav-link text-white" [routerLink] = "['/lista']">Listas</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
            <a class="nav-link text-white" [routerLink] = "['/contacto']">Contacto</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link text-white" [routerLink] = "['/nosotros']" tabindex="-1" aria-disabled="true">Nosotros</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link text-white" [routerLink] = "['/repaso']" tabindex="-1" aria-disabled="true" >Repaso</a>
        </li>
      </ul>
    </div>
  </nav>