<h1 class="container bg-dark text-white py-4 font-italic">Informacion Tabla de Repaso</h1>

<table class="table table-hover mt-5" [ngClass] = "{'bg-warning': cambio == 'Amarillo','bg-danger': cambio == 'Rojo', 
'bg-primary': cambio == 'Azul'}">
   
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Equipo</th>
        <th scope="col">Debilidad</th>
        <th scope="col">Carrera</th>
      </tr>
    </thead>

    <tbody>
    
    <tr *ngFor = "let item of info; index as i">
        <th scope="row">{{i +1}}</th>
        <td>{{item.Nombre}}</td>
        <td>{{item.Equipo}}</td>
        <td>{{item.Debilidad}}</td>
        <td>{{item.Carrera}}</td>
    </tr>

    </tbody>
  </table>
 
  <div>
    <button class="btn btn-warning" (click) = "cambio = 'Amarillo'">Amarillo</button>
    <button class="btn btn-danger" (click) = "cambio = 'Rojo'">Rojo</button>
    <button class="btn btn-primary" (click) = "cambio = 'Azul'">Azul</button>
  </div>
