<h1 class="container bg-dark text-white text-center my-4 py-4">NgClass</h1>
<h1 class="container bg-dark text-white text-center my-4 py-4">Calcular = {{calc}}</h1>

<div class="container" >
    <button class="btn btn-warning" (click) = "show=! show" >Accion</button>

    <button class="btn btn-danger" (click) = "activo = 'primero'">Primero</button>
    <button class="btn btn-dark" (click) = "activo = 'segundo'">Sengundo</button>

    <button class="btn btn-warning" (click) = "calc = calc + 1">+</button>
    <button class="btn btn-warning" (click) = "calc = calc - 1">-</button>

    <p *ngIf = "EsMuyListo()">Super Programador Nojoda</p>

    <p *ngIf = "calc >= 6">Alta Lacra</p>
    <p *ngIf = "calc == 5">Aprobado</p>
    <p *ngIf = "calc <= 4">Un Pedro Cualquiera</p>

    <p class="text-info d-none" [ngClass]="{'d-block':activo == 'primero'}">En Ciudad Gótica, Arthur Fleck es un comediante con problemas mentales
    que es maltratado por la sociedad.</p>

    <p class="text-danger d-none" [ngClass] = "{'d-block': activo == 'segundo'}">Entonces cae en una espiral descendiente de revolución y crimen que lo lleva cara a cara con su alter ego:
    el Guasón.</p>
</div>

<div class="container">

    <h1 class="container mt-4 bg-dark text-white text-center display-5 font-italic">Gustos del Dr.Sensual</h1>
    
    <ul class="list-group">
        <li class="list-group-item" *ngFor = "let Gustos of MisGustos"> {{Gustos}}</li>
    </ul>

    <h1 class="container mt-4 bg-dark text-white text-center display-5 font-italic">Perras que me han Rechazado</h1>
    
    <ul class="list-group">
        <li class="list-group-item" *ngFor = "let Brujas of Perras"> {{Brujas}}</li>
    </ul>

    <h1 class="container mt-4 bg-dark text-white text-center display-5 font-italic">AC-Pirata</h1>
    <table class="table table-bordered table-hover">
        
        <thead> 
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Apellido</th>
                <th class="text-center" scope="col">Cedula</th>
                <th class="text-center" scope="col">Edo_Civil</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor = "let persona of personas; index as i">
                <th class="text-center" scope = "row">{{i + 1}}</th>
                <td class="text-center">{{persona.nombre}}</td>
                <td class="text-center">{{persona.apellido}}</td>
                <td class="text-center">{{persona.cedula}}</td>
                <td class="text-center">{{persona.edo_civil}}</td>
            </tr>
        </tbody>
    </table>
</div>