<h1 class="container bg-dark text-white text-center my-4 py-4">NgIf = {{show}}</h1>
<h1 class="container bg-dark text-white text-center my-4 py-4">Calcular = {{calc}}</h1>

<div class="container" >
    <button class="btn btn-warning" (click) = "show=! show" >Accion</button>
    <button class="btn btn-warning" (click) = "calc = calc + 1">+</button>
    <button class="btn btn-warning" (click) = "calc = calc - 1">-</button>

    <p *ngIf = "EsMuyListo()">Super Programador Nojoda</p>

    <p *ngIf = "calc >= 6">Alta Lacra</p>
    <p *ngIf = "calc == 5">Aprobado</p>
    <p *ngIf = "calc <= 4">Un Pedro Cualquiera</p>

    <p class="text-info" *ngIf = "show; else showDos">En Ciudad Gótica, Arthur Fleck es un comediante con problemas mentales que es maltratado por la sociedad.</p>

    <ng-template #showDos>
        <p class="text-danger">Entonces cae en una espiral descendiente de revolución y crimen que lo lleva cara a cara con su alter ego: el Guasón.</p>
    </ng-template> 
</div>