<h1 class="container font-italic bg-dark text-white py-4"> Listas Sensuales Papu</h1>
<div class="container">

    <h1 class="container mt-4 bg-dark text-white text-center display-5 font-italic">Gustos del Dr.Sensual</h1>
    
    <ul class="list-group">
        <li class="list-group-item" *ngFor = "let Gustos of MisGustos"> {{Gustos}}</li>
    </ul>

    <h1 class="container mt-4 bg-dark text-white text-center display-5 font-italic">Perras que me han Rechazado</h1>
    
    <ul class="list-group">
        <li class="list-group-item" *ngFor = "let Brujas of Perras"> {{Brujas}}</li>
    </ul>

    <h1 class="container mt-4 bg-dark text-white text-center display-5 font-italic">AC-Pirata</h1>
    
    <table class="table table-bordered table-hover">
        
        <thead> 
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Apellido</th>
                <th class="text-center" scope="col">Cedula</th>
                <th class="text-center" scope="col">Edo_Civil</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor = "let persona of personas; index as i">
                <th class="text-center" scope = "row">{{i + 1}}</th>
                <td class="text-center">{{persona.nombre}}</td>
                <td class="text-center">{{persona.apellido}}</td>
                <td class="text-center">{{persona.cedula}}</td>
                <td class="text-center">{{persona.edo_civil}}</td>
            </tr>
        </tbody>
    </table>
</div>