<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HORARIO DE ESTUDIO DR_SENSUAL</title>
</head>
<body>
    <h1 class="container bg-dark text-white font-italic py-4">Horario de Esclavitud</h1>
    <div id="main-container">

        <table >
            <thead>
                <th colspan="6"><b>Horario de Estudios de Programacion</b></th>
            </thead>

            <tbody>
                <tr>
                    <td>Hora</td>
                    <td>Lunes</td>
                    <td>Martes</td>
                    <td>Miercoles</td>
                    <td>Jueves</td>
                    <td>Viernes</td>
                </tr>
    
                    <tr>
                        <td>9:00 Am -- 11:30 Am</td>
                        <td>PHP Orientado a Objetos</td>
                        <td>PHP Orientado a Objetos</td>
                        <td>Lenguaje SQL</td>
                        <td>Lenguaje SQL</td>
                        <td>PHP Orientado a Objetos</td>
                    </tr>
    
                    <tr>
                        <td>12:30 Am -- 14:00 Pm</td>
                        <td>PHP Orientado a Objetos</td>
                        <td>PHP Orientado a Objetos</td>
                        <td>Lenguaje SQL</td>
                        <td>Lenguaje SQL</td>
                        <td>PHP Orientado a Objetos</td>
                    </tr>

                    <tr>
                        <td>14:30 Pm -- 16:00 Pm</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                    </tr>
    
                    <tr>
                        <td>16:30 Pm -- 20:00 Pm</td>
                        <td>PHP Orientado a Objetos</td>
                        <td>PHP Orientado a Objetos</td>
                        <td>Lenguaje SQL</td>
                        <td>Lenguaje SQL</td>
                        <td>Lenguaje SQL</td>
                    </tr>

                    <tr>
                        <td>20:30 Pm -- 22:00 Pm</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                        <td>Descanso</td>
                    </tr>

                    <tr>
                        <td>22:00 Pm -- 00:00 Pm</td>
                        <td>Pornografia</td>
                        <td>Pornografia</td>
                        <td>Pornografia</td>
                        <td>Pornografia</td>
                        <td>Pornografia</td>
                    </tr>
            </tbody>
        </table>
</div>
</body>
</html>